@media (max-width: 81em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 68em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 55em) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 50em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 42em) {
  html {
    font-size: 50%;
  }
  .main-container {
    width: 90%;
    height: 50%;
  }
}
@media (max-width: 42em) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 18em) {
  html {
    font-size: 35%;
  }
}
