* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
*:focus-visible {
  box-shadow: 0 0 0 0.1rem #fff, 0 0 0 0.5rem var(--green-400);
}
:root {
  /* ### Primary */
  --blue-200: hsl(193, 38%, 86%);
  --green-300: hsl(150, 100%, 66%);
  --green-350: hsl(150, 90%, 50%);

  /* ### Neutral */
  --blue-600: hsl(217, 19%, 38%);
  --blue-900: hsl(217, 19%, 24%);
  --blue-950: hsl(218, 23%, 16%);
}

html {
  font-size: 62.5%;
  font-weight: 800;
}
body {
  background-color: var(--blue-950);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-container {
  background-color: var(--blue-900);
  height: 35rem;
  position: relative;
  width: 35%;
  border-radius: 1rem;
}
.advice-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.advice-number {
  color: var(--green-300);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.advice-text {
  font-size: 2.8rem;
  width: 90%;
  height: 45%;
  color: var(--blue-200);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider {
  max-width: 90%;
}
.dice-button {
  border: none;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: var(--green-300);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.dice-button:hover {
  box-shadow: 0 0 2rem 1rem hsla(150, 100%, 66%, 0.5);
}
.dice-button:active {
  box-shadow: none;
  background-color: var(--green-350);
}

.dice-img {
  background-color: var(--green-300);
  height: 3rem;
  width: 3rem;
}
.attribution {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
